{% import 'bootstrap/wtf.html' as wtf %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Khrustitskaya Sonya</title>
    <link rel="icon" href="static/css/images/woman.svg">
    <link rel="stylesheet" href="static/css/styles.css" type="text/css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="background: #86b8fd">
      <div class="d-flex justify-content-center align-items-center container h-100">
          <div class="col">
              <div class="row">
                  <div class="col-lg-10 col-md-8 mx-auto text-light">
                      <h3 class=" text-light">To Continue, You Need to Enter the Secret Key</h3>
   {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'primary'}) }}
                      </div>
                  </div>
              </div>
       </div>
</body>
</html>